#blueprint{
    width: 100%;
    position: relative;
}

#blueprint canvas{
    width: 100%;
    background-color: #ffffff;
}

#blueprint .devices{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#blueprint .device{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    text-align: center;
    background-color: white;
    border: 1px solid #212529;
    position: absolute;
    cursor: pointer;
}

.device.shadow{
    box-shadow: 0px 1px 25px 15px !important;
}
.device.shadow.shadow-secondary{
    color: #6a757e;
}
.device.shadow.shadow-success{
    color: #28a745;
}
.device.shadow.shadow-warning{
    color: #ffc107;
}

.shadow.shadow-danger{
    color: #ef143e;
}