#blueprint{
    width: 100%;
    position: relative;
}

#blueprint canvas{
    width: 100%;
    background-color: #ffffff;
}

#blueprint .devices{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#blueprint .device{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    text-align: center;
    background-color: white;
    border: 1px solid #212529;
    position: absolute;
    cursor: pointer;
}
#blueprint .device.moveable{
    box-shadow: none !important;
    border: 1.5px dashed #212529;
}
#blueprint .device.moveable:hover{
    cursor: move;
}  
.device.shadow{
    box-shadow: 0px 1px 25px 15px !important;
}
.device.shadow.shadow-secondary{
    color: #6a757e;
}
.device.shadow.shadow-success{
    color: #28a745;
}
.device.shadow.shadow-warning{
    color: #ffc107;
}

.shadow.shadow-danger{
    color: #ef143e;
}

.popoverstyle span{
    font-size: 8pt;
    float: right;
}

.toggle-switch .toggle-value {

    position: absolute;
    margin-left: -9999px;
    visibility: hidden;

}

.toggle-switch .toggle-value:checked+label {
    background-color: #89BE45;
}

.toggle-switch .toggle-value:checked+label:after {
    margin-left: 30px;
    background-color: #89BE45;
}

.toggle-switch .toggle-value+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
    padding: 2px;
    width: 60px;
    height: 30px;
    background-color: #888;
    border-radius: 30px;
    transition: background 0.4s;
}

.toggle-switch .toggle-value+label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #fff;
    border-radius: 30px;
    transition: background 0.4s;
}

.toggle-switch .toggle-value+label:before,
.toggle-switch .toggle-value+label:after {
    display: block;
    position: absolute;
    content: "";
}



.toggle-switch .toggle-value+label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 22px;
    background-color: #888;
    border-radius: 22px;
    transition: margin 0.4s, background 0.4s;
}

.toggle-switch .toggle-value+label:before,
.toggle-switch .toggle-value+label:after {
    display: block;
    position: absolute;
    content: "";
}